@import './normalize.css';
@import './pagesSpecial.scss';
@import 'react-redux-toastr/src/styles/index';

@font-face {
    font-family: "yekan";
    src: url(../assets/fonts/yekan/Yekan.eot);
    src: url(../assets/fonts/yekan/Yekan.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/yekan/Yekan.woff) format("woff"), url(../assets/fonts/yekan/Yekan.ttf) format("truetype"), url(../assets/fonts/yekan/Yekan.svg#BYekan) format("svg");
    font-weight: normal;
    font-style: normal;
}
.yekan{
    font-family: yekan !important;
}
.norm-latin{
  *{
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  }
}
*[role="option"]{
  text-align: right;
  span{
    display: flex;
  }
}
*{
    margin: 0;
    font-family: yekan;
}
.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}
.text-right{
  text-align: right !important;
}
.text-center{
  text-align: center !important;
}
.padded{
  padding: 1.5em;
}
.no-filter{
  filter: unset !important;
}
.d-none{
  display: none;
}
.m-0{
  margin: 0 !important;
}
.invisible{
  visibility: hidden;
}
.placeholder-rtl{
  ::placeholder{
    text-align: right !important;
    direction: rtl !important;
    font-family: yekan;
  }
}
.placeholder-ltr{
  ::placeholder{
    text-align: left !important;
    direction: ltr !important;
    font-family: yekan;
  }
}
label{
    direction: rtl;
}