@import "./normalize.css";
@import "./pagesSpecial.scss";
@import "./device.scss";
@import "react-redux-toastr/src/styles/index";

@font-face {
  font-family: "yekan";
  src: url(../assets/fonts/yekan/Yekan.eot);
  src: url(../assets/fonts/yekan/Yekan.eot?#iefix) format("embedded-opentype"),
    url(../assets/fonts/yekan/Yekan.woff) format("woff"),
    url(../assets/fonts/yekan/Yekan.ttf) format("truetype"),
    url(../assets/fonts/yekan/Yekan.svg#BYekan) format("svg");
  font-weight: normal;
  font-style: normal;
}
.pointer {
  cursor: pointer;
}
.yekan,
.header {
  font-family: yekan !important;
}
.m-auto {
  margin: auto;
}
.w-100 {
  width: 100% !important;
}
.p-5 {
  padding: 1em !important;
}
.pt-5 {
  padding-top: 1em !important;
}
.text-black {
  color: black !important;
}
.norm-latin {
  * {
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  }
}
#norm-latin {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.ui.pointing.menu {
  direction: rtl;
}
.only-device {
  @media (min-width: 768px) {
    display: none !important;
  }
  @media (max-width: 768px) {
    display: block !important;
  }
}
.only-desktop {
  @media (min-width: 768px) {
    display: block !important;
  }
  @media (max-width: 768px) {
    display: none !important;
  }
}
.ui.message > .icon,
.ui.label > .icon {
  margin-left: 0.6em;
  margin-right: 0;
}
*[role="option"] {
  text-align: right;
  span {
    display: flex;
  }
}
* {
  margin: 0;
  font-family: yekan;
}
div[role="combobox"] {
  .default.text {
    right: 0 !important;
    left: unset !important;
  }
  .message {
    text-align: right !important;
  }
  direction: rtl !important;
  text-align: right !important;
  a.ui.label {
    margin: 0.14285714rem 0 0.14285714rem 0.28571429rem !important;
  }
}
.rtl .ui.label > .close.icon,
.ui.label > .delete.icon {
  margin-left: 0 !important;
  margin-right: 0.5em !important;
}
.rtl {
  direction: rtl;
}
.ltr {
  direction: ltr;
}
.text-right {
  text-align: right !important;
}
.field {
  &.text-right {
    input {
      text-align: right !important;
    }
  }
}
.text-center {
  text-align: center !important;
}
.padded {
  padding: 1.5em;
}
.no-filter {
  filter: unset !important;
}
.d-flex {
  display: flex !important;
}
.d-none {
  display: none;
}
.m-0 {
  margin: 0 !important;
}
.invisible {
  visibility: hidden;
}
.hidden {
  display: none;
}
.placeholder-rtl {
  ::placeholder {
    text-align: right !important;
    direction: rtl !important;
    font-family: yekan;
  }
}
.placeholder-ltr {
  ::placeholder {
    text-align: left !important;
    direction: ltr !important;
    font-family: yekan;
  }
}
label {
  direction: rtl;
}
.factor {
  .border-black {
    border: 3px solid black;
  }
  .border-radius-7 {
    border-radius: 7px;
  }
  .border-left-3 {
    border-left: 3px solid black;
  }
  .border-bottom-3 {
    border-bottom: 3px solid black;
  }
  .row-not-flex {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: -15px;
    margin-left: -15px;
  }
}
@media print {
  .ui {
    &.segment {
      position: relative;
      background: #fff;
      box-shadow: unset !important;
      margin: unset !important;
      padding: unset !important;
      border-radius: unset !important;
      border: unset !important;
      &.pushable {
        // width:990px;
        height: unset !important;
      }
    }
  }
  .factor {
    margin: auto;
  }
  .hidden-print {
    display: none !important;
  }
}

.table-border-left {
  border-left: 1px solid #ddd !important;
}

.table-border-left-none {
  border-left: none !important;
}

// REPORT STYLE SHEET \\

.grid-padding {
  padding: 20px !important;
}

.grid-left {
  float: left;
  text-align: left;
  direction: ltr;
}

.grid-label-rabon {
  float: left;
}

.date-picker-icon:hover {
  cursor: pointer;
}

// UESR SECTION STYLES

.us-header {
  margin: 0 3em 0 0;
}

.us-users {
  font-size: 20px !important;
  margin-top: 0.3em;
}

.us-p {
  padding: 0 1em;
}

#us-search {
  font-family: yekan !important;
  direction: rtl;
  text-align: right;
}

.us-fm-segment {
  position: relative;
}

.us-fm-toggle {
  position: absolute;
  top: 0.5em;
}

.us-fm-span {
  padding: 0 1.5em;
}

.d-segment {
  margin-top: 10px !important;
}

.d-table-border {
  border-left: 1px solid #ddd !important;
}

// SUPPLIERS

.s-h2-padding {
  padding: 0 1em;
}

// DEPOSITORY EDIT

#depository-edit {
  .ui.form .disabled.field {
    opacity: 1;
    pointer-events: all;
  }
  .ui.disabled.dropdown {
    opacity: 1;
  }
  .ui.form .field.error .ui.dropdown {
    background-color: #f3f4f5 !important;
    color: rgb(100, 100, 100) !important;
    border-color: #aaaaaa !important;
  }
  .ui.form input[type="text"] {
    font-family: yekan;
  }
  .ui.form .field.error .ui.dropdown .text {
    color: rgb(100, 100, 100);
  }
  .ui.dropdown {
    text-align: right;
  }
}

// Bug Fix Reports

#r-form {
  .r-input {
    width: 110px !important;
  }
  .r-form-span-padding {
    padding: 0 10px;
  }
}

// Bug Fix Sale

#s-showInfromationModel {
  .form-message {
    margin: 0;
    margin-right: 20px;
    padding: 10px;
    font-weight: 100;
    font-size: 12px;
  }
}

.blurring.dimmed.dimmable > .popup:not(.dimmer) {
  filter: unset !important;
}

#customer {
  font-family: yekan;
  text-align: right;
  direction: rtl;
}

#customer-latin {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  text-align: left;
  direction: ltr;
}

.nafis-logo {
  width: 128px;
  height: 128px;
  padding-right: 0;
}
