#login {
  align-items: center;
  display: flex;
  height: -webkit-fill-available;
  justify-content: center;
}
#sidebar {
  .ui.segment {
    margin-top: 0px !important;
  }
  .navbar {
    height: 4em;
    position: fixed;
    z-index: 1;
    width: 100%;
    background: white;
    box-shadow: 0px 2.5px 7.5px -2.5px;
  }
  .pushable {
    .sidebar {
      &.menu {
        padding-top: 4em !important;
      }
    }
  }
  .pusher {
    .ui.segment {
      margin-top: 2em !important;
    }
  }
}
#not-found {
  .content {
    text-align: right;
  }
}
#add-bill {
  .ui.selection.dropdown {
    text-align: right;
  }
  .ui.dropdown .menu .selected.item,
  .ui.dropdown.selected {
    text-align: right;
    direction: rtl;
  }
  .ir.flag {
    margin-left: 0.78571429rem;
    margin-right: 0px;
  }
}
